<?xml version="1.0" encoding="UTF-8"?>
<web-app id="essentls" version="1.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

    <display-name>ESSENTLS</display-name>
    <welcome-file-list>
        <welcome-file>HomeServlet</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.essentls.servlet.HomeServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.essentls.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>com.essentls.servlet.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentsListServlet</servlet-name>
        <servlet-class>com.essentls.servlet.PaymentsListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.essentls.servlet.RegisterServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SearchUserServlet</servlet-name>
        <servlet-class>com.essentls.servlet.SearchUserServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SelectUserByIDServlet</servlet-name>
        <servlet-class>com.essentls.servlet.SelectUserByIDServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>com.essentls.servlet.EditUserServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>EmailConfirmationServlet</servlet-name>
        <servlet-class>com.essentls.servlet.EmailConfirmatioServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>EventDetailServlet</servlet-name>
        <servlet-class>com.essentls.servlet.EventDetailServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>EventParticipantsServlet</servlet-name>
        <servlet-class>com.essentls.servlet.EventParticipantsServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CreateEventServlet</servlet-name>
        <servlet-class>com.essentls.servlet.CreateEventServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>RestDispatcherServlet</servlet-name>
        <servlet-class>com.essentls.servlet.TagRestDispatcherServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RestDispatcherServlet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern></url-pattern>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SearchUserServlet</servlet-name>
        <url-pattern>/search-users</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PaymentsListServlet</servlet-name>
        <url-pattern>/paymentslist</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SelectUserByIDServlet</servlet-name>
        <url-pattern>/select-user-by-id</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/edit-user</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EmailConfirmationServlet</servlet-name>
        <url-pattern>/email-confirmation/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EventDetailServlet</servlet-name>
        <url-pattern>/eventdetail</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EventParticipantsServlet</servlet-name>
        <url-pattern>/eventparticipants</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CreateEventServlet</servlet-name>
        <url-pattern>/create-event</url-pattern>
    </servlet-mapping>

    <resource-ref>
        <description>Connection pool to the database</description>
        <res-ref-name>jdbc/public</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

</web-app>