<?xml version="1.0" encoding="UTF-8"?>
<web-app id="essentls" version="1.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

    <display-name>ESSENTLS</display-name>
    <welcome-file-list>
        <welcome-file>html/helloworld.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.essentls.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.essentls.servlet.RegisterServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SearchUserServlet</servlet-name>
        <servlet-class>com.essentls.servlet.SearchUserServlet</servlet-class>
    </servlet>



    <servlet-mapping>
        <servlet-name>SearchUserServlet</servlet-name>
        <url-pattern>/search-users</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register/</url-pattern>
        <url-pattern>/signup/</url-pattern>
    </servlet-mapping>

    <resource-ref>
        <description>Connection pool to the database</description>
        <res-ref-name>jdbc/public</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

</web-app>