<?xml version="1.0" encoding="UTF-8"?>
<web-app id="essentls" version="1.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

    <display-name>ESSENTLS</display-name>
    <welcome-file-list>
        <welcome-file>html/helloworld.html</welcome-file>
    </welcome-file-list>

</web-app>