/* HERE OUR CUSTOM CLASSES, TO BE USED EVERYWHERE IN PROJECT */

/* GENERAL STYLES: FONT, BODY, ALL COLOR CLASSES */

/* ESN SUGGESTED FONTS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6, .card-title, .event-title, .event-date{
    font-family: 'Oswald', sans-serif;
}

/* TOP DECORATION */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*ESN COLORS*/

.color-cyan{
    color:#00aeef;
}

.bg-cyan{
    background-color:#00aeef;
}

.border-cyan{
    border: 3px solid #00aeef;
}

.color-orange{
    color:#f47b20;
}

.bg-orange{
    background-color:#f47b20;
}

.border-orange{
    border: 3px solid #f47b20;
}

.color-magenta{
    color:#ec008c;
}

.bg-magenta{
    background-color:#ec008c;
}

.border-magenta{
    border: 3px solid #ec008c;
}

.color-blue{
    color:#2e3192;
}

.bg-blue{
    background-color:#2e3192;
}

.border-blue{
    border: 3px solid #2e3192;
}

.color-green{
    color:#7ac143;
}

.bg-green{
    background-color:#7ac143;
}

.border-green{
    border: 3px solid #7ac143;
}

.color-white{
    color:#fff;
}

.bg-white{
    background-color:#fff;
}

.border-white{
    border: 3px solid #fff;
}

.color-black{
    color:#000;
}

.bg-black{
    background-color:#000;
}

.border-black{
    border: 3px solid #000;
}
/*UTILITIES*/
.min-width-12{
    min-width: 12rem;
}

.max-height-20{
    max-height: 20rem;
    overflow: auto;
}

.same-width-login{
    width: 6rem;
}

.column-content-vertical-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fs-7 {
    font-size: .85rem !important;
}

.card{
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

/* BELOW THE OTHER CLASSES */

.event-date{
    font-weight: bolder;
}

/*BUTTON*/
button{
    border-radius: 5px;
    transition: 0.2s;
}

button:hover {
    filter: brightness(0.92);
}

label{
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
}

/* NAVBAR */
.navbar-nav li{
    font-size: medium;
    display: inline-block;
}

.same-width-login{
    /*to keep the buttons aligned also in mobile phones*/
    width: 6rem;
}

.skippy{
    background: #fff url("../media/header_topbg.png") 0 -5px repeat-x;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navbar-decoration{
    max-width: 200px;
    height: auto;
}

.navbar a{    
    text-decoration: none;
}

.navbar a#navbarDropdownProfile{
    font-size: 25px;
    line-height: 25px;
}

.top-logo-navbar{
    height: 5rem;
    width: auto;
}

.fix-position{
    position: fixed;
    top: 5px;
    width: 100%;
    z-index: 10;
}

.menu-hover{
    border-bottom: transparent solid 3px;
}

.menu-hover:hover{
    background-color: rgba(0, 0, 0, 0.025);
    border-bottom: #00aeef solid 3px;
    /*border-radius: 3px;*/
}

.top-logo-navbar-small{
    height: 3rem;
    width: auto;
}

.navbar-space-replacement{
    height: 7.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    width: 100%;
}


/*FOOTER*/
.footer{
    background-color: #dbdbdb;
    margin-top: auto;
}

/*PASSWORD EYE*/
.toggle-password{
    margin-right: 18px;
    cursor: pointer;
    z-index: 10;
    position: relative;
    float: right;
    margin-top: -26px;
}

/*SHAKE ANIMATION ERROR*/
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.error-animation {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation-name: shake;
    animation-duration: 0.5s;
    /* only one repetition */
    animation-iteration-count: infinite;
}

.event-preview-image{
    /*height: 10rem;*/
    width: 100vw;
}

#srch{
    width: 325px;
}

#attributes_form{
    width: 200pt;
    margin: 0 auto;
    max-width: 100%;
}

#event_card #event_header {
    min-height: 220pt;
    height: auto;
    width: 100%;
    background-size: cover;
    padding: 20pt;
    background-color: grey;
    background-blend-mode: multiply;
    background-position: center;
}

#event_card #event_header #event_icon {
    height: 180pt;
    width: 180pt;
    object-fit: cover;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.2);
}

#event_card #event_header #event_info {
    color: white;
    height: 100%;
    min-width: 200pt;
    margin-left: 20pt;
    text-shadow: 0 0 20px rgba(0,0,0,0.5);
    max-width: 300pt;
}

#event_card #event_header #event_info h2 {
    color: white;
    font-size: 30pt;
}

#event_card #event_header #event_buy {
    width: 200pt;
    margin-left: 15pt;
    margin-top: 35pt;
    max-width: 20%;
    text-align: center;
}

#event_card #event_header #event_buy p {
    font-size: 20pt;
    text-align: center;
}

/*HOME*/
#mask{
    background-color: rgba(0, 0, 0, 0.6);
}

.container-event {
    position: relative;
    min-height: 9em;
    border-radius: .8em;
    display: flex;
    padding-bottom: 1.5em;
    padding-top: .8em;
    overflow: hidden;
    cursor: pointer;
}

.container-event:hover .container-event-bottom {
    height: 100%;
    opacity: .4;
}

.container-event-bottom {
    display: flex;
    justify-content: end;
    height: 1.4em;
    width: 100%;
    position: absolute;
    bottom: 0;
    transition: .5s ease-in-out;
    z-index: -1;
    transform: translateX(-3rem);
    opacity: 1;
}

.container-event-bottom p {
    position: absolute;
    bottom: 0;
}

.break-flex {
    flex-basis: 100%;
    height: 0;
}

.home-banner {
    background-image: url('../media/home_banner.webp');
    height: 400px;
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
}

.home-card {
    cursor: pointer;
    width: 250px;
}

.home-text-truncate {
    max-height: 50px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

/*MY EVENTS PAGE*/

.my-event-card {
    cursor: pointer;
    background-color: transparent;
}

.my-event-card-bottom {
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 0;
    transition: .5s ease-in-out;
    z-index: -1;
    transform: translateX(-1.5rem);
    opacity: 1;
    background-color: #f47b20;
}

.my-event-card:hover .my-event-card-bottom{
    height: 100%;
    opacity: .4;
}

.tag-color-0:nth-child(odd), .tag-color-3:nth-child(even){
    background-color: #00aeef;
    color: white !important;
}

.tag-color-1:nth-child(odd), .tag-color-2:nth-child(even){
    background-color: #ec008c;
    color: white !important;
}

.tag-color-2:nth-child(odd), .tag-color-1:nth-child(even){
    background-color: #7bc143;
    color: white !important;
}

.tag-color-3:nth-child(odd), .tag-color-0:nth-child(even){
    background-color: #f47b20;
    color: white !important;
}




/* breakpoint md */
@media (max-width: 991px) {
    #event_card #event_header #event_icon {
        height: 150pt;
        width: 150pt;
    }

    #event_card #event_header #event_buy{
        margin-top: 15pt;
        max-width: 100%;
        margin-right: 60pt;
    }
}

/* breakpoint sm */
@media (max-width: 767px) {
    #event_card #event_header #event_icon {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
    }

    #event_card #event_header #event_info {
        margin-top: 15pt;
    }

    #event_card #event_header #event_buy {
        width: 100%;
        margin: 10pt auto;
    }
}